.loginHeaderContainer {
	height: 80px;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoContainer {
	width: 48px;
	height: 35.2px;
	display: flex;
	align-items: center;
	padding: 0px 12px;
}

.logoImg {
	width: 32px;
	height: 32px;
}

.logoText {
	color: #cc0000;
	font-weight: bolder;
	margin-left: 5px;
	font-size: 150%;
}

.buttonContainer {
	padding: 5px;
}

.loginBtn {
	width: 90px;
	height: 50px;
	border: none;
	border-radius: 30px;
	outline: none;
	background-color: #e60023;
	color: white;
	font-weight: bolder;
	margin: 0px 5px;
	font-size: 120%
}

.loginBtn:hover {
	background-color: #ad081b;
}

.JoinBtn {
	width: 110px;
	height: 50px;
	border: none;
	border-radius: 30px;
	outline: none;
	background-color: #efefef;
	font-weight: bolder;
	margin: 0px 5px;
	font-size: 120%
}

.JoinBtn:hover {
	background-color: #e2e2e2;
}